html{
    height: 100%;
}


body {
    background-image: linear-gradient(to right, #9378bb , #e19692);
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.welcome{
    position: absolute;
    top: 8%;
    width: 80%;
    right: 10%;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 350;
    color: #ffffff;
    text-align: center;
    letter-spacing: .10em; 
}


.slogan{
    position: absolute;
    top: 17%;
    width: 80%;
    right: 10%;
}

.typewriter h1 {
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em; 
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.search {
    position: absolute;
    top: 30%;
    width: 80%;
    right: 10%;
    background-color: #ffffff;
    opacity: 0.8;
}



.search input[type=text] {
    width: 80%;
    padding: 10px;
    padding-left: 10%;
    border: none;
    margin: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: 350;
    font-style: italic;
    /* color: #ffffff; */
    text-align: center;
    letter-spacing: .10em;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    caret-color: #e19692;
}

::selection {
  color: #ffffff;
  background: #ebbebc;
}

.blurb{
    position: absolute;
    top: 50%;
    width: 80%;
    right: 10%;
}


#recipesGrid{
    position: absolute;
    top: 30%;
    width: 80%;
    height: 80px;
    right: 10%;
}


#recipe1{
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    /* background-image: url("tempImage.png"); */
}

#recipe2{
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    /* background-image: url("tempImage.png"); */
}

#recipe3{
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    /* background-image: url("tempImage.png"); */
}

.recipeTitle{
    padding-top: 19px;
    font-size: 30px;
    /* font-weight: 350; */
    color: #9378bb;
    text-align: center;
    font-weight: 370;
    opacity: 0.5;
    
}


.bottom{
    position: absolute;
    bottom: 10%;
    /*^doesnt work if more than 3 results*/
    width: 80%;
    right: 10%;
}
